*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat',sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #a09f9f;
}
.kalkulator{
    position: relative;
    display: grid;
}
.kalkulator .value{
    grid-column: span 4;
    height: 80px;
    width: 240px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-family: 18px;
}
.kalkulator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: #f8f8f8;
    background: #080808bb;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
}
.kalkulator span:active{
    color: rgb(12, 106, 189);
    background: #ffffff;
}
.kalkulator span.clear{
    grid-column: span 2;
    width: 120px;
    background: rgb(252, 2, 2);
}
.kalkulator span.plus{
    grid-row: span 2;
    height: 120px;
    background: #0296f8;
}
.kalkulator span.equal{
    background: rgba(66, 87, 86, 0.623);
}